@use "global" as *;


.about {
    @include mq(md){
        position: relative;
    }
}
.about__inner {
    max-width: rem(1130);
    padding-left: rem(14);
    padding-right: rem(16);
    margin-inline: auto;
    position: relative;
    @include mq(md){
        padding: $padding-pc;
    }
}

.about__image-container {
      position: relative;
      margin-top: rem(28);
      height: rem(120);
      width: rem(345);
     @include mq(md){
         margin-top: rem(40);
         width: rem(877);
     }
}

.about__image1 {
     position: absolute;
     max-width: rem(128);
     width: 100%;
     z-index: 10;
     @include mq(md){
         max-width: rem(400);
         width: 100%;
         top: rem(2);
         left: rem(11);
         bottom: 0;
    }
 }

.about__image2 {
     position: absolute;
     max-width: rem(281);
     width: 100%;
     z-index: 8;
     top: rem(25);
     left: rem(63);
     @include mq(md){
        max-width: rem(880);
        width: 100%;
        top: rem(82);
        left: calc(50% - min(50vw, 226px));
        bottom: 0;
     }
 }

.about__image3 {
    @include mq(md){
        position: absolute;
        right: calc(50% - min(50vw,638px));
        bottom: rem(-633);
        width: rem(194);
        z-index: 9;
    }
}

 .about__text-group {
     @include mq(md){
         display: flex;
         justify-content: center;
         position: absolute;
         z-index: 15;
         padding: rem(84) rem(10) rem(200) rem(209);
     }
 }

 .about__title {
     font-family: $third-font-family;
     font-weight: $regular;
     font-size: rem(40);
     line-height: calc(40/40);
     color: $green-accent;
     margin-top: rem(132);
     @include mq(md){
         margin-top: rem(-2);
         font-size: rem(80);
         line-height: calc(100/80);
         color: $white;
     }
 }

 .about__text {
     font-family: $base-font-family;
     font-weight: $regular;
     font-size: rem(16);
     line-height: calc(24/16);
     color: $green;
     margin-top: rem(16);
     @include mq(md){
        max-width: rem(400);
        margin-left: 41px;
        margin-top: -3px;
        width: 100%;
        color: $white;
     }
 }

.about__btn {
     margin-top: rem(25);
     @include mq(md){
       margin-top: rem(41);
       margin-left: rem(42);
     }
}

.about__sp-visibility {
    visibility: hidden;
    @include mq(md){
        visibility: visible;
    }
}