@use "global" as *;

.about__inner {
    max-width: rem(1130);
    padding-left: rem(25);
    padding-right: rem(25);
    margin-inline: auto;
}

.about__image-container {
     position: relative;
     margin-top: rem(24);
     height: rem(120);
     width: rem(345);
    @include mq(md){
        margin-top: rem(40);
        width: rem(800);
    }
}

.about__image1 {
     position: absolute;
     max-width: rem(128);
     width: 100%;
     z-index: 10;
     @include mq(md){
         max-width: rem(400);
         width: 100%;
         top: 0;
         left: 0;
         bottom: 0;
    }
 }

.about__image2 {
     position: absolute;
     max-width: rem(281);
     width: 100%;
     z-index: 8;
     top: rem(20);
     left: rem(40);
     @include mq(md){
        max-width: rem(880);
        width: 100%;
        top: rem(130);
        left: rem(200);
     }
 }

 .about__text-group {
     @include mq(md){
         display: flex;
         justify-content: center;
         position: absolute;
         z-index: 15;
         padding: rem(100) rem(10) rem(200) rem(100);
     }
 }

 .about__title {
     font-family: $third-font-family;
     font-weight: $regular;
     font-size: rem(40);
     line-height: calc(40/40);
     color: $green-accent;
     margin-top: rem(120);
     @include mq(md){
         margin-top: 0;
         font-size: rem(80);
         line-height: calc(100/80);
         color: $white;
     }
 }

 .about__text {
     font-family: $base-font-family;
     font-weight: $regular;
     font-size: rem(16);
     line-height: calc(24/16);
     color: $green;
     margin-top: rem(16);
     @include mq(md){
         max-width: rem(400);
         margin-left: rem(40);
         width: 100%;
        color: $white;
     }
 }

.about__btn {
     margin-top: rem(50);
     @include mq(md){
     }
}


