@use "global" as *;

.campaign__container {
    position: relative;
    padding-left: rem(15);
    margin-top: rem(29);
    @include mq(md){
       padding-left: rem(182);
       margin-top: rem(41);
   }
}

.campaign__btn {
    margin-top: rem(30);
    @include mq(md){
        margin-top: rem(69);
    }
}
