@use "global" as *;

.campaign__container {
    position: relative;
    padding-left: rem(15);
    margin-top: rem(29);
    @include mq(md){
       padding-left: rem(160);
   }
}

.campaign__btn {
    margin-top: 30px;
}
